@import url('https://fonts.cdnfonts.com/css/typo-round');
@import "tailwindcss";

@theme {
    --color-brand-orange:#ffa116;
    --color-dark-layer-bg:rgb(26, 26, 26);
    --color-dark-layer-1:rgb(40, 40, 40);
    --color-text-secondary:#fff9;
    --color-text-primary:#f5f5f5;
    --color-border-tertiary:#ffffff24;
    --font-typo:'Typo Round Regular Demo', sans-serif;
    --color-fill-3:#ffffff1a;
    --color-sd-accent:hsl(0,0%,100%,0.08);
    --color-sd-border:hsl(0,0%,100%,0.1);
    --color-sd-muted-background:hsl(0 0% 66%);
    --color-sd-card:hsl(0 0% 15%);
    --color-dark-lc-support-info:rgb(38 150 255);
    --color-sd-border:hsl(0,0%,100%,0.1);
    --color-fixed-white:hsl(0 0% 100%);
    --color-sd-blue-400:hsl(209 100% 55%);
    --breakpoint-lc-dsw-lg:991px;
    --breakpoint-lc-dsw-xl:1100px;
    --color-sd-foreground:hsl(0 0% 96%);
    --color-sd-primary:hsl(0 0% 96%);
    --color-sd-secondary-foreground:hsl(0 0% 98%);
    --color-sd-secondary:hsl(0 0% 22%);
    --color-sd-muted-foreground:hsl(0 0% 66%);
    --color-sd-accent-foreground:hsl(0 0% 98%);
    --color-fill-quarternary:#ffffff0f;
    --color-easy:hsl(180 74% 42%);
    --color-medium:hsl(43 100% 50%);
    --color-hard:hsl(0 91% 59%);
}