@import url('https://fonts.cdnfonts.com/css/typo-round');
@import "tailwindcss";

@theme {
    --color-brand-orange:#ffa116;
    --color-dark-layer-bg:rgb(26, 26, 26);
    --color-dark-layer-1:rgb(40, 40, 40);
    --color-text-secondary:#fff9;
    --color-text-primary:#f5f5f5;
    --color-border-tertiary:#ffffff24;
    --font-typo:'Typo Round Regular Demo', sans-serif;
    --color-fill-3:#ffffff1a;
}